<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>LSMC</h5>
                <p>Assurer la santé et la sécurité des citoyens de Los Santos.</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('app_home') }}" class="text-white">Accueil</a></li>
                    {# <li><a href="#" class="text-white">Prendre rendez-vous</a></li> #}
                    <li><a href="{{ path('app_recruitment_request') }}" class="text-white">Recrutement</a></li>
                    <li><a href="{{ path('app_login') }}" class="text-white">Connexion</a></li>
                    {# <li><a href="{{ path('services') }}" class="text-white">Services</a></li>
                    <li><a href="{{ path('contact') }}" class="text-white">Contact</a></li> #}
                </ul>
            </div>
            <div class="col-md-4">
                {# <h5>Suivez-nous</h5>
                <div>
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div> #}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; 2024 DevbyAntho. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
