<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home')}}"><img src="{{ asset('assets/img/IMG_4358.png')}}" alt="Logo LSMC" width="100" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      {% if app.user %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home')}}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_is_services')}}">Prise de service</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_recrutement_recu')}}">Candidatures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_employee_index')}}">Employés</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home')}}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="#">Prendre rendez-vous</a>
        </li> #}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_recruitment_request')}}">Recrutement</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> #}
       {#  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> #}
      </ul>
      {% endif %}
      {% if app.user %}
      <a href="{{ path('app_mon_compte')}}" class="btn btn-dark">Mon compte</a>
      {% else %}
      <a href="{{ path('app_login')}}" class="btn btn-dark">Connexion</a>
      {% endif %}
      {# <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>